input:valid {
    border: 2px solid green;
}

input:invalid {
    border: 2px solid red;
}

p:first-child {
    font-weight: bold;
}

input:nth-of-type(2) {
    background-color: lightyellow;
}

input:checked + label {
    font-weight: bold;
    color: blue;
}
